# Configuración de Base de Datos
POSTGRES_USER=example_app
POSTGRES_PASSWORD=example_AppPass_2026!
POSTGRES_DB=exampledb

# Secretos
JWT_SECRET=tu-secreto-super-seguro-aqui

# Puertos expuestos a tu máquina local
DB_HOST_PORT=5441
API_HOST_PORT=3005
FRONTEND_HOST_PORT=3000
